<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{name}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ms">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="milestones.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Milestones</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/index.html">Index</a></li>
                <li><a href="/login">Login Page</a></li>
                <li><a href="/milestones">Milestones Page</a></li>
                <li><a href="/addms">Add Milestone Page</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
<h1>Milestones</h1>
<br>
<a href="http://localhost:9003/topics">Milestones</a>
<br>
<br>
<h1>{{name}}</h1>
<p>Welcome {{.}}!</p>
    <span>Browse Milestones</span>
    <ol id='topics'>
    {{#topics}}
        <a href="#"><li>{{.}}</li></a>
    {{/topics}}
    </ol>
</div>

</body>
</html>

