<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{name}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav><a href="http://localhost:9003/topics">Milestones</a> </nav>
<h1>{{name}}</h1>
<p><a href="/index.html">Index |</a> <a href="/login">Login Page |</a>
    <a href="/public">public Page |</a>
    <a href="/milestones">milestones Page |</a>
    <a href="/topics">topics Page</a></p>
    <a href="/addms">add a milestone</a></p>
<p>Welcome!</p>
<div>

    <span>Browse Milestones</span>
    <ol id='topics'>
    {{#milestones}}
        <a href="#"><li>{{.}}</li></a>
    {{/milestones}}
    </ol>
</div>

</body>
</html>

