<html>
<body>
<h1>{{name}}</h1>
<p><a href="/index.html">Index |</a> <a href="/login">Login Page |</a>
    <a href="/public">public Page |</a>
    <a href="/milestones">milestone board Page |</a>
    <a href="/topics">milestones Page</a></p>

    Description: {{description}}<br>
    Due Date: {{duedate}}<br>
    Completed Date: {{completedate}}
</body>
</html>